In [32]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [33]:
train = pd.read_csv('./Bike/train.csv')
test = pd.read_csv('./Bike/test.csv')
sub = pd.read_csv('./Bike/sampleSubmission.csv')

In [34]:
train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [35]:
test.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014

In [36]:
train.isnull().sum()

datetime      0
season        0
holiday       0
workingday    0
weather       0
temp          0
atemp         0
humidity      0
windspeed     0
casual        0
registered    0
count         0
dtype: int64

In [37]:
test.isnull().sum()

datetime      0
season        0
holiday       0
workingday    0
weather       0
temp          0
atemp         0
humidity      0
windspeed     0
dtype: int64

In [38]:
from sklearn.model_selection import train_test_split

In [39]:
sel = ['weather', 'temp', 'atemp']

X = train[sel]
y = train['count']

X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 0)

In [40]:
from sklearn.neighbors import KNeighborsRegressor

In [41]:
knn = KNeighborsRegressor()
knn.fit(X_train,y_train)
pred = knn.predict(X_test)
pred

array([354.4, 141.6, 194.2, ..., 156.4, 149.6,  24.8])

In [42]:
val1 = np.sum((pred-y_test)**2 / len(y_test))
val2 = np.sqrt(val1)
val2

168.63788259025932

In [43]:
test_rmse = []

for num in range(1,31,2):
    knn = KNeighborsRegressor(n_neighbors = num)
    knn.fit(X_train,y_train)
    pred = knn.predict(X_test)
    
    val1 = np.sum((pred-y_test)**2 / len(y_test))
    val2 = np.sqrt(val1)
    
    test_rmse.append(val2)

In [44]:
test_rmse

[220.5263958269601,
 173.6232055677858,
 168.63788259025932,
 164.90494663630497,
 163.7180310201562,
 162.8581228060325,
 161.51351768643204,
 161.13470577493828,
 160.89434714338734,
 160.82729054470394,
 160.35702646198015,
 160.62073324691173,
 160.41830883247115,
 159.90576754464752,
 159.75533223759737]