### python

In [9]:
print('Hello', 'asd' ,end="  ")

Hello asd

In [15]:
print(1,2,3,4,5, sep='    ')

1    2    3    4    5

### 입출력
 * 입력 : input() :
 * 연산자 : %, //
 * A =< B ( error )

In [ ]:
a = 5
b = 2
div = a/b
print('')

In [16]:
def plus(num1, num2) :
    return num1 + num2, num2 - num1

In [17]:
num1 = 1
num2 = 2
plus(num1, num2)

(3, 1)

### 리스트와 튜플의 차이
 * 리스트 [ ]
 * 튜플 ( )
 * 리스트는 값 추가, 삭제, 수정
 * 튜플은 불가하다.

### 파일을 열때 함수
 * open(___, 'mode')  #파일 만들기 w, 파일 내용추가 a, 파일 일기 모드 r
 * 텍스트 파일쓰기 : wt, wb

* 파일
 * read()
 * readline() : 한줄씩 읽어오기
 * readlines() :

### 클래스
 * 매번 함수를 써서 반복되는 부분을 틀로 만들어 사용한다.
 * def __init__(): # 생성자 함수.
 * 오버라이딩이라 무엇인가?

### try - except ~

### 모듈
 * .py로 되어 있다.
 * 함수, 클래스, 변수가 포함됨.
 * import ___

### 모듈(라이브러리)
 * tkinter, pyQT

### HTML은 구조, CSS는 디자인, Javascript는 동작 실행

### 웹 데이터 수집

* bs4 : 속도 5~10배
* selenium :

In [23]:
from pandas import DataFrame
team_score = { "toto":[1500,3000,5000,7000,5500],
              "apple":[4000,5000,6000,5500,4500],
              "gildong":[2000,2500,3000,4000,3000],
              "catanddog":[7000,5000,3000,5000,4000]}
team_df = DataFrame(team_score)
team_df

   toto  apple  gildong  catanddog
0  1500   4000     2000       7000
1  3000   5000     2500       5000
2  5000   6000     3000       3000
3  7000   5500     4000       5000
4  5500   4500     3000       4000

In [26]:
team_df.columns

Index(['toto', 'apple', 'gildong', 'catanddog'], dtype='object')

In [29]:
team_df.sum()

toto         22000
apple        25000
gildong      14500
catanddog    24000
dtype: int64