## 점프 투 파이썬 2장 연습문제

#### Q1

In [2]:
kor = 80
eng = 75
math = 55
print((kor+eng+math)/3)

70.0

### Q2

In [9]:
print(13%2)

1

#### Q3 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

In [10]:
print(13%2)

1

#### Q4 홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

In [24]:
a = '881120-1068234'
print(a[0:6])
print(a[7:])

881120
1068234

#### Q5 다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

In [9]:
a = 'a:b:c:d'
a.replace(':', '#')
print(a)

a:b:c:d

#### Q6 [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.

In [35]:
a = [1,3,5,4,2]
a.sort()
print(a)

[1, 2, 3, 4, 5]

In [39]:
a.reverse()
print(a)

[5, 4, 3, 2, 1]

#### Q7 ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.

In [44]:
li = ['Life', 'is', 'too', 'short']
res = " ".join(li)
res

'Life is too short'

#### Q8 (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.

In [49]:
a = (1,2,3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

## Q9 체크

In [ ]:
a = dict()

#### Q10 딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.

In [53]:
a = {'A':90, 'B':80, 'C':70}
print(a['B'])

80

In [54]:
re = a.pop('B')
print(re)

80

#### Q11 a 리스트에서 중복 숫자를 제거해 보자.

In [55]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
a = set(a)
print(a)

{1, 2, 3, 4, 5}

#### Q12 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.

In [56]:
a = b = [1, 2, 3]
a[1] = 4
print(b)
## 리스트가 동일

[1, 4, 3]